<div class="menu">
  <span class="menu__item"><a href="/time_slots">График</a></span>  
  <span class="menu__item"><a href="/experts">Профессионалы</a></span>
  <span class="menu__item"><a href="/procedures">Процедуры</a></span>
</div>
